
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width:100px;
    height: 100px;
}

.header{
   
    display: flex;
    font-weight: 800;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 60px;    
    
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    
}
.nav-items > ul > li 
{

    padding: 20px;
    margin:10px;    
}
.nav-items >ul > li{
    border-radius: 18px ;
    border: none ;
    padding:10px;
    margin: 20px ;
    text-align: center;
    color: rgb(20, 17, 17);
    text-decoration: none;
    cursor: pointer;
    }

li:hover{
    background:linear-gradient(to right,#5b9b70 0%,rgb(240, 121, 11)); 
}
.res-container
{
    display:flex;
    flex-wrap: wrap;
}

.rest-card{
    margin: 30px;
    width:200px;
    height: 250px;  
    padding: 5px;
}
.rest-card:hover{
    border:1px solid black;
}
h3 {
    padding:2px;
    margin: 4px;
}
h4 {
    padding:2px;
    margin: 4px;
}
img{
    width:100%

}

.search{
    padding: 10px;
    border: none;
    justify-content: center;
}

hr{
    height: 80px;
    width: 25px;
    margin: -95px 0;
    
}


/* .nav-items >ul > li{ */
   /* background-color: rgb(199, 195, 195); */
/* }
 */

   


